@font-face {
  font-family: "iconfont"; /* Project id 87269 */
  src: url('../font/iconfont.woff2?t=1624079947675') format('woff2'),
       url('../font/iconfont.woff?t=1624079947675') format('woff'),
       url('../font/iconfont.ttf?t=1624079947675') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.6rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-arrow:before{
  content: "\e615";
}

.iconfont-arrow{
  color: #888;
  font-size:0.5rem;
  padding: 0 0.3rem;
}

.iconfont-has-collection:before{
  content: "\e62a";
  color: #ff9900;
}

.iconfont-set:before{
  content: "\e605";
}

.iconfont-play:before {
  content: "\e701";
}

.iconfont-tab-my:before {
  content: "\e763";
}

.iconfont-tab-home:before {
  content: "\e603";
}

.iconfont-search:before {
  content: "\e7d2";
}

.iconfont-tab-play:before {
  content: "\e61b";
}

.iconfont-tab-video:before {
  content: "\e6f8";
}

.iconfont-user:before {
  content: "\e646";
}

.iconfont-user:before {
   content: "\e646";
 }

.iconfont-comment:before {
  content: "\e604";
}

.iconfont-no-collection:before {
  content: "\e629";
}

.iconfont-like:before {
  content: "\e61c";
}

.iconfont-like-active:before {
  content: "\e60c";
  color: #ff9900;
}

.iconfont-views:before {
  content: "\e68c";
}

.iconfont-more:before {
  content: "\e639";
}

.iconfont-jiantou:before {
  content: "\e616";
}
